.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container {width: 1280px; margin: 0 auto}
ul {list-style-type: none; display: inline-block; width: 100%; padding: 0}
ul li {float: left; padding: 0 10px}
.main-content {display: inline-block; width: 100%}
.sidebar {float: right; width: 28%; padding-left: 2%; background: #faebd7}
.sidebar ul li {float: none}
.list-articles li {float: none}
.content-wrapper {float: left; width: 70%;}
.main-menu {padding-top: 30px}
ul li a.active {text-decoration: underline}
.frmLogin {width: 450px; margin-top: 45px}
.invalid-feedback {color: #dc3545}
.is-invalid {border-color: #dc3545 !important}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
